*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/4/
.idea/sonarlint/securityhotspotstore/2/
.idea/sonarlint/securityhotspotstore/4/
.idea/gradle.xml
.idea/
